@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap) layer(init);

@layer init {
    :root {
        --primary: #66d4d4;
        --text: #000000;
        --black: #000000;
        --light: #FFFFFF;
        --gray: #3B3E40;
    }
    html {
        font-family: "Open Sans", sans-serif;
        color: var(--black, black);
        font-weight: 400;
    }
    .page__logo::before {
        content: "";
        display: block;
        background: center / contain no-repeat transparent;
        /*
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        */
        background-image: url("../images/logo.svg");
        width:auto;
        height: 100%;
        font-size: 1.5em;
    }
    .page__logo > span {
        display: none;
    }
}

/* VRSTVA PRO VAŠE STYLY */
@layer design {
   .image-responsive {
    display:block;
    max-width:100%;
    height: auto;

   }
   .flex-container {
    display: flex;
    flex-direction: column;
  }
   .image-flex {
    max-width: 100%;
    object-fit: cover; /* contain */
    object-position: bottom left;
    aspect-ratio: 3/2;
}

   


   .page__header {
    background-image: url(../images/header-2560w.webp);
    background-size: cover;
    background-position: bottom left;
    padding:1em;
   }
   .page__logo-container{
    text-align: center;

   }
   .page__logo{
        display: block;
        padding:1em;
        height: 2em;
        aspect-ratio: 42 / 24;
        margin: 0 auto;
   }

   .page__intro{

    color: var(--light, white);
    margin-left:-20em;
    margin-right:40em;
    margin-bottom: 5em;
   }

   .button{
    background-color: var(--primary, teal);
    color: var(--light, white);
    padding:0.5em 1em;
    border-radius: 0.5em ;
    font-weight: 700;
    text-decoration: none;
   }
   .button:hover{
    background-color: var(--black, black);
    color: white;

   }
   .button--light{
    background-color: var(--light, white);
    color: var(--black, black);
    margin-top: 3em;
   }
   .button--dark{
    background-color: aqua;
    color: white;
    margin-top: 3em;
   }
   .picture-box{
    margin-left:22.5em;
    margin-right: 7.5em;

   }
   p {
    margin-bottom: 2.5em;
    margin-left: 27.625em;
    margin-right: 9em;
    font-size: small;
   }
   .picture-box__caption{
    font-size:0.8em;
    color: var(--gray, gray);
    text-align: center;
   }
   .text-h6{
    margin-bottom: 1em;
    margin-left: 1.5em;
    margin-right: 1em;
   }
   .text-h3{
    font-size: 1.125em;
    font-weight: 700;
    margin-bottom: 1em;
    margin-left:2em;
   }
   .text-h4{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
    margin-left:2em;
    align-self: center;
   }
   .text-h2{
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1em;
    margin-left: 15em;
   }
   .text-h1{
    font-size:larger;
    margin-left: 18.625em;
    font-weight: 700;
    margin-bottom: 1em;
   }
   li::marker {
    color: aqua;
  }
  ul{
    margin-left: 25em;
    margin-right:15em;
  }
  .row {
    display: flex;
    justify-content: space-between;
    margin-left:20em;
  }
  figure{
    flex:1;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    }
  .col-sm-4{
    flex:1;
    padding: 1em;
  }
   .outline-box{
    border-top: 5px solid aqua;
    border-left: 5px solid aqua;
    border-right: 5px solid aqua;
    border-bottom: 5px solid aqua;
    border-radius: 0;
    padding-left:-30em;
    margin-left:22.5em;
    margin-right:7.5em
   }
   .dark-box{   
    background-color: var(--gray);
    align-items: center;
    color: white;
    border-radius: 0;
    padding-left:-30em;
    margin-left:22.5em;
    margin-right:7.5em;
    padding-left:9em;
    padding-right:9em;
    padding-top:5em;
    padding-bottom: 5em;
   }
   .list>li::marker{
    color: var(--primary, aqua);
   }
   .product{
    padding:1em;
    max-width: 24em;
    display: inline-block;
   }
   .page_section{
    margin-left: 2em;
    padding-left: 2em;
   }

}
